*{
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #222;
}

.bg-img {
    position: relative;
    height: 100vh;
    background-image: url(../assets/img/메인배경.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
    width: 1280px;
    margin: 0 auto;
}

button{
    border: 0;
    background-color: transparent;
  }




/* 헤더 */

.header-container{
    padding: 20px 0;
}

.header-upbox {
    display: flex;
    align-items: center;
    justify-content: right;

    font-size: 12px;
    gap: 8px;
}

.login-box {
    display: flex;
    justify-content: space-between;

    width: 110px;
}

.login-button {
    display: flex;
    align-items: center;

    color: #fff;
}

.login-box > .box {
    width: 1px;
    height: 20px;
    background-color: #fff;
}

.lang-button {
    width: 110px;

    color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-downbox {
    display: flex;
    margin-top: 35px;
}

.header-nav {
    position: absolute;
    display: flex;

    font-size: 18px;
    color: #fff;

    gap: 64px;
    transform: translateX(300px);
}

.header-nav > a {
    color: #fff;
}


/* 메인예약박스 */
#reservation-container {
    margin-top: 167px;
}

/* 상단메뉴바 */
.reservation-nav {
    display: flex;
}

.res-button {
    width: 25%;
    height: 41px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    color: #fff;
    background-color: #24C6A9;
}

.res-button:first-child {
    color: #222;
    background-color: #fff;

    border-radius: 10px 10px 0 0 ;
}

.res-button:nth-child(2) {
    border-radius: 10px 0 0 0;
}

.res-button:last-child {
    border-radius: 0 10px 0 0;
}


/* 예약박스내부 */
.reservation-box {
    display: flex;
    justify-content: space-between;

    background-color: #ffffff;
    opacity: 85%;
    padding: 32px;
}

/* 예약박스왼쪽 */
.reservation-box-left {
    gap: 100px;
    display: flex;
    flex-direction: column;
}

.airplane_icon {
    width: 40px;
}

.way-select {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
 
.round-trip {
    color: #EE378A;
}

.one-way {
    color: #777;
}


/* 예약박스중간 */

.reservation-box-middle > hr {
    margin-top: 12px;
    background-color: #777;
}

.middle-country {
    display: flex;
    justify-content: space-around;
    margin: 0 40px;
}

.middle-country-goback {
    display: flex;
    flex-direction: column;

    text-align: center;
    gap: 4px;
}

.middle-country-goback > h2 {
    font-size: 48px;
}

.middle-country-name {
    font-size: 18px;
}

.middle-date {
    display: flex;
    justify-content: space-between;
}

.middle-date-goback {
    display: flex;
    align-items: center;

    gap: 16px;
    font-size: 16px;

    margin-top: 4px;
}

.middle-date-gap {
    display: flex;
    align-items: center;
    gap: 8px;
}

.middle-date-gap > p {
    color: #777;
}


/* 예약박스오른쪽 */
.reservation-box-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.passenger-container {
    display: flex;
    gap: 32px;
    font-size: 16px;
}

.passenger {
    display: flex;
    align-items: center;
    gap: 4px;

    color: #777;
}

.passenger-number {
    display: flex;
    align-items: center;
    gap: 12px;
}

.check-button {
    width: 189px;
    height: 36px;
    border-radius: 20px;

    background-color: #24c6a9;
    color: #fff;
}


/* 특가 */
.reservation-spacial-price {
    display: flex;
    flex-direction: column;

    gap: 8px;
    
    background-color: #fff;
    padding: 16px;

    border-radius: 0 0 10px 10px;
}

.spacial-price-container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 126px;
}

.spacial-price-title {
    display: flex;
    align-items: end;

    gap: 8px;
}

.spacial-price-title > p:first-child {
    font-size: 16px;
}

.spacial-price-title > p:last-child {
    font-size: 24px;
    color: #EE378A;
}

.spacial-price-goback {
    display: flex;
}

.spacial-price-goback > p {
    font-size: 12px;
}

.spacial-price-price {
    display: flex;
    justify-content: right;
    align-items: center;

    gap: 4px;
    margin-top: 4px;
}

.spacial-price-price > p:first-child {
    font-size: 14px;
}

.spacial-price-price > p:nth-child(2) {
    font-size: 20px;
    color: #EE378A;
}

.spacial-price-price > p:last-child {
    font-size: 18px;
}

.spacial-price-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.list-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c6c6c6;
}

.list-dot:first-child {
    background-color: #24C6A9;
}




/* 부가서비스 */

#service-container {
    width: 1280px;
    margin: 0 auto;
    padding: 96px 0;
}

.service-box {
    font-size: 24px;
    text-align: center;
}

.service-box-container {
    display: flex;
    /* gap: 43px; */
    justify-content: space-between;
    margin-top: 48px;
}

.service-box-content {
    text-align: center;
    width: 150px;
    height: 122px;

    padding: 39px 0;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 0px 17px rgb(0, 0, 0, 0.1) ;
}

.service-img {
    width: auto;
    width: 70px;
}

.service-box-content > p {
    font-size: 16px;
}





/* 민트패스 */

#mintpass-section {
    background-color: #f5f5f5;
}

.mintpass-container {
    margin: 0 auto;
    width: 1280px;
    padding: 96px 0;
}

.mint-title {
    text-align: center;
}

.mint-title > h2 {
    font-size: 48px;
    color: #24C6A9;
}

.mint-title > p:nth-child(2) {
    font-size: 22px;
    color: #444;

    margin-top: 16px;
}

.mint-title > p:last-child {
    font-size: 16px;
    color: #777;
    
    margin-top: 8px;
}

.mintpass-box {
    margin: 84px 0 0 0;

    display: flex;
    justify-content: space-between;
}

.mint-content{
    height: 354px;
    border-radius: 10px;
    box-shadow: 0px 0px 17px rgb(0, 0, 0, 0.1);
    
    background-color: #fff;
}

.mint-text {
    margin: 0 12px;
}

.mint-text > p:first-child {
    font-size: 22px;
    color: #444;

    margin-top: 12px;
}

.mint-text > p:last-child {
    font-size: 16px;
    color: #777;

    margin-top: 8px;
}





/* 공지사항,sns,고객센터 등 */

.top-etc {
    display: flex;
    justify-content: space-between;
}

/* 공지사항 */
.etc-container {
    width: 1280px;
    margin: 0 auto;
    padding: 96px 0;
}

.notice-container {
    width: 891px;
}

.notice-title {
    display: flex;
    justify-content: space-between;
}

.notice-title > p {
    font-size: 20px;
}

.notice-box {
    padding: 32px;
    background-color: #fff;
    box-shadow: 0px 0px 17px rgb(0, 0, 0, 0.1);
    border-radius: 5px;

    height: 81px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 16px;
}

.notice-content {
    display: flex;
    justify-content: space-between;
}

.notice-content > p:first-child {
    color: #444;
}

.notice-content > p:last-child {
    color: #777;
}


/* SNS */
.sns-container {
    width: 277px;
    height: 145px;
}

.sns-container > p {
    font-size: 20px;
}

.sns-box {
    display: flex;
    gap: 28px;
    margin-top: 20px;

    padding: 32px;
    background-color: #fff;
    box-shadow: 0px 0px 17px rgb(0, 0, 0, 0.1);
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
}

.facebook {
    width: 91px;
    height: 81px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.facebook p {
    font-size: 18px;
    color: #666;
}

.instagram {
    width: 91px;
    height: 81px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.instagram p {
    font-size: 18px;
    color: #666;
}


/* 고객센터 */
.bottom-etc-container {
    display: flex;
    justify-content: space-between;

    margin-top: 48px;

    padding: 32px;
    background-color: #fff;
    box-shadow: 0px 0px 17px rgb(0, 0, 0, 0.1);
    border-radius: 5px;
}

.customer-box {
    width: 584px;
    height: 107px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.customer-title > p:first-child {
    font-size: 20px;
}

.customer-title > p:last-child {
    font-size: 16px;
    color: #777;
    margin-top: 4px;
}

.customer-content {
    display: flex;
    justify-content: space-between;
}

.customer-content > .number {
    font-size: 18px;
    color: #24C6A9;
}

.customer-btn {
    display: flex;

    gap: 24px;
}

.customer-btn button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #49D1B9;
    color: #fff;
    gap: 4px;
    border-radius: 5px;
    padding: 4px 18px;
}

.promotion-box {
    width: 584px;
    height: 107px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promotion-title > p:first-child {
    font-size: 20px;
}

.promotion-title > p:last-child {
    font-size: 16px;
    color: #24C6A9;
    margin-top: 4px;
}

.promotion-box > p:last-child {
    font-size: 16px;
    color: #777;
}

